<header>
    <div class="header">
        <div>Header</div>
        <div>Created by Bernardo - Copyright {{getCurrentYear}}</div>
        <div>Currently viewing {{pageTitle}} page</div>
        <p>
            <a href="/about">About</a>
        </p>
        <p>
            <a href="/help?name=Bernardo">Help</a>
        </p>
    </div>
</header>
